
 @font-face {
        font-family: "Roboro-Regular";
        src: url("../fonts/Roboto/Roboto-Regular.ttf");
        font-family: "Roboro-Medium";
        src: url("../fonts/Roboto/Roboto-Medium.ttf");
    }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {

    font-family: "Roboro-Regular";
}

.cabecalho{
    background-color: #1e1c21;
    padding-top:20px ;
    padding-bottom: 20px;
}




.container-grid{
    max-width: 1280px;
    margin: 0 auto;  /* para centralizar o grid! */
    /* border: 1px solid white; somente para ver o container */

}

.header-flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
}




#menu-principal{
    /* border: 1px solid green; */
    width: 50%;
    display: flex;
    justify-content: space-between;
    align-items: center;
     transition: left 0.4s;
}


.navbarShow{
    left: 0 !important;
}


/* --------------navbar-------------- */
#menu-principal a{
    color: white;
    text-decoration: none;
    /* border: 1px solid red; */
    padding: 20px 15px 20px 15px;
    text-transform: uppercase;
   
}


/* -----------------------main---------------- */
.banner{
    width: 100%;
    height: 610px;
    background-color: #C31616;
    background-image: url(../images/banner_pilotos.png);
    background-repeat: no-repeat;
}

.banner-box{
    display: flex;
    justify-content:flex-end ;
    align-items: center;
    height: 100% !important;
   
}

.banner-info{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    color: white;
    height: 280px;
    width: 500px;
    
}

.banner-info h2{
    font-family: "Roboro-Medium";
    text-align: center;
    font-size: 70px;
 


}

.banner-info p {
    font-family: "Roboto-Medium";
    text-align: center;
    font-size: 24px;
    margin-top: -45px;

}

.banner-info a{
    
    display: flex;
    color: white;
    font-size: 24px;
    background-color:#c31616;
    width: 270px;
    height: 60px;
    border-radius: 10px;
    margin: 0 auto;
    text-decoration: none;
    text-transform: uppercase;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    /* margin-inline: auto;  serve para centralizar tbm*/

}
/* ---------------------------------------------------------------- */
.jogos{
    background-color: #1e1c21;
}

.jogos-images{
    padding: 10px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.produtos{
    background-color: #1e1c21;
}

.produtos h2, .row{
    margin: 0;
    color: white;
    
}

                    /*  css dos card bootstrap */.container {
    max-width: 1200px;
}

.btn-danger {
   background-color: salmon;
   border: 1px solid salmon;
}

.btn-danger:hover {
    background-color: #f76555;
    border: 1px solid #f76555 ;
}

.card {
    margin-top: 20px ;
    max-width: 270px;
    color: white;
    border: none;
    box-shadow: 0px 0px 20px rgba(0,0,0,0.8);
    background-image: linear-gradient(to bottom, #444444, #1e1c21);
}
.card .btn {
    width: 100%;
    margin-top: 20px;
    padding-top: 10px;
    padding-top: 10px;
    text-transform: uppercase !important;
    border-radius: 10px;
}

.card-title {
    text-transform: uppercase;
    font-family: "TitilliumWeb-SemiBold";
    font-size: 1.3rem;
}

.card-price {
    font-family: "TitilliumWeb-SemiBold";
    font-size: 1.5rem;
}

/*  media queries */

/* celulares : 0 - 767px */
/*  tablets : 768px - 991px*/
/*  desktops: 992px para cima */


                /* tablet display */
@media screen and (max-width:991px) {
        .cabecalho{
            padding: 0 20px;
            padding: 20px 25px;
           
        }

        .header-flex{
             height: 60px;

        }


        .menu-bars{
            /* OBS: para mudar a cor de um svg, precisa ir no codigo da imagem e procurar o "FILL" */
            width: 45px;
            cursor: pointer;
        }

     /* #menu-principal{
          display: none;
        } */

    /* #menu-principal a {
        color: red;
       
    } */


}



                        /* para celulares */

@media screen and (max-width:767px) {

    .logoripo{
        width: 150px;
    }

    .menu-bars{
        width: 35px;
        color: white;
    }

    #menu-principal a {
            color: white;
    }
    #menu-principal{
        position: fixed;
        top: 0px;
        left: -150%;

        width: 80%;
        height: 100%;
        background-color: #1e1c21;
        z-index: 10;

        flex-direction: column;
        justify-content: center;
    }

    
    #menu-principal a {
        width: 80% ;
        height: 30px;
        margin-bottom: 20px;
        display: flex;
        
        text-align: center;
        
} 
}


/* para desktops */

@media screen and (min-width:991px){
    .menu-bars{
        display: none;
    }
}
